<div class="row">
  <div class="col-md-6 col-md-offset-3 posts">
    <div id="index">
      <div class="create-new-post">
      <% if logged? %>
        <button class="btn btn-success"><%= link_to "Create New Post", new_post_path %></button>
      <% end %>
      </div>
      <% @posts.each do |post| %>
        <div id="post">
            <p id="title"><%= post.title %></p>
          <p id="body"><%= post.body %></p>
          <p id="author">
            Author:
            <% if logged? %>
              <%= post.author %>
            <% else %>
              <%= link_to "You have to log in to know the author", login_path %>
            <% end %>
          </p>
        </div>
      <% end %>
    </div >

  </div>
</div>
